
<h3>Register Page</h3>

<form class="form-horizontal ng-pristine ng-valid" role="form" ng-submit="RegisterUser()">
    <div class="form-group">
        <label class="col-md-2 control-label">Name</label>
        <div class="col-md-4">
            <input type="text" class="form-control ng-pristine ng-valid" name="name" ng-model="name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Password</label>
        <div class="col-md-4">
            <input type="password" class="form-control ng-pristine ng-valid" name="employees" ng-model="password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">Email</label>
        <div class="col-md-4">
            <input type="text" class="form-control ng-pristine ng-valid" name="headoffice" ng-model="email">
        </div>
    </div>
    <div class="form-group">
        <div style="padding-left:110px">
            <button type="submit" value="Submit" class="btn btn-primary">Register</button>
        </div>
    </div>
</form>